# Introduction to Python

In this short crash course we will learn to code in Python programming language, specifically we will use Python 3, while searching on the internet you may sometime stumble upon Python 2.7. There are a few syntactic differences you will learn along the way.

### Advantages

* General-purpose language, used in web developement as well as high performance computing
* It is an "interpreted" programming language, i.e. there is no need to compile your code
* Extensive choice of libraries to deal with most complicated problems, especially for data science and machine learning
* Has extremely steep learning curve, is easy to read and write
* Very well documented, and widely used ([docs.python.org](http://docs.python.org) or check Stack Overflow)
* Dynamically-typed - it is not necessary to manually define the types of variables (in most cases)

### Disadvantages

* Dynamically-typed - it is not necessary to manually define the types of variables - this can cause confusion. It is good practice to leave comments with description of the input for every function
* Is slower than other compiled languages, this can be rectified by using libraries that are pre-combiled in other programming languages (*More in the workshop on scientific computing in python)*


### Plan for today
1. Basics: variables, conditional statements, for/while cycles, functions 
2. Pythonic basics: list comprehension, lambda functions
3. Problem solving

### How to learn Python?

* It is a language, the only way to learn it is to speak it. *Don't be afraid, make mistakes, and ask questions.*
* *Practice makes perfect*. Initially you will be forgetting the commands, the more you practice the sooner you will remember the syntax.
* If you don't understand something, first compose the question properly, think about it, and if you can't think of a solution ask someone!
* Before you execute any cell, stop and try to predict what it will do! Ideally write your prediction on a piece of paper!
* Experiment! Change the code in the cells, try various test cases to understand how the code behaves.

## Variables

Variables are "black boxes" used to store values. Each variable is of a specific type, the types define the operations that can be applied to the variables and their response to them. The most common variables are:
 - *Strings* - A "string" of characters
 - *Integers* - Whole numbers
 - *Floating-point values* - Decimal numbers
 - *Boolean* - Binary logic (True / False)

In [1]:
# This is a comment, text following a hashtag is not interpreted as code.
"""This is also a comment, it is a string, and can span multiple lines.
Comments aid understanding of the code, and make it legible."""

'This is also a comment, it is a string, and can span multiple lines.\nComments aid understanding of the code, and make it legible.'

In [2]:
# To execute the code in a cell, press ctrl-shift
a = 5  # the variable a is assigned the value 5
type(a)  # the type() function displays the variable type of the argument in the brackets

int

Now run the following code without any comments and see the difference:

In [3]:
a = 5  
type(a)

int

In [4]:
# python automatically guesses the variable type of your input, can you google what this variable type stands for?
b = 0.2
type(b)

float

In order to print out the value of a variable or a calculation, you can use the function print()

In [5]:
print(a) # don't forget the brackets ()!
print(a+15)

5
20

Guess the results of the following operations, write them down before running the cell!

In [6]:
print(a/2)
print(a//2) # // signifies whole number division
print(a%2)  # "modulo operator" % is the remainder after division

2.5
2
1

Write a code to print the sum of the variable `a` and `b`:

In [15]:
print(a + b)

5.2

Python can also work as a very powerful calculator, what is 99 to the power of 99? (Hint: powers are denoted by ** in Python)

In [16]:
print (99 ** 99)

369729637649726772657187905628805440595668764281741102430259972423552570455277523421410650010128232727940978889548326540119429996769494359451621570193644014418071060667659301384999779999159200499899

Create a new variable and print out its type:

In [17]:
a = 5.0
type(a)

float

It is possible to add different types in Python, the resulting type is chosen automomatically. (broadcasting)

In [18]:
type1 = 'str'   # string
type2 = 4       # int
type3 = 4.5     # float
type4 = True    # bool (logic value True / False)

print(type2 + type3)
print(type3 + type4)
print(type1 + type2)

8.5
5.5

TypeError: must be str, not int

**Some types cannot be added together as you can see above! Error messages are a useful feature that allow you to find bugs in your code. Also notice that when adding a float and an int, the result is chosen to be a float.**

## Strings

String is a data type used to represent text in Python:

In [ ]:
c = "abc"
type(c)

There is an arithmetic associated to the string data type, see how a string behaves under the following operands:

In [19]:
hello = "Hello"
space = " "
world = "World!"
print(hello + space + world)
print((hello + space)*2 + world)

Hello World!
Hello Hello World!

Notice that the sign "+" concatenates strings, but adds numbers when applied to `int`s or `float`s. An operator with different operations for different types is called an "overloaded operator". <br><br>
It is possible to manually change the data type of a variable, for example strings to integers or floating-point numbers.

In [20]:
s = "123"
si = int(s) # string s converted to an integer
print(si)
sf = float(s) # string s converted to a floating point number
print(sf)

123
123.0

... or vice-versa:

In [21]:
d = 123
ds = str(d)
print(ds + "_" + "s")

123_s

Create a new string variable "2018", convert it to an integer, and add the result to the float number number = 5.7

In [22]:
# CODE HERE
s = "2018"
n = int(s)
print (n + 5.7)

2023.7

Finally, strings can be split into lists!

In [23]:
s = "123"
print(len(s))   # How long is this string?
list(s)

3

['1', '2', '3']

# Lists
List is a mutable sequence of elements, i.e. once created, the separate elements can be changed. Lists can be created in the following way `a = [1,2,3]`

In [24]:
a = [1, 2, 3]
print("Printing list a:")
print(a) 
b = [2, 5]
c = a + b        # Lists can be added together, this appends list b to list a!
print("Printing list c:")
print(c)

Printing list a:
[1, 2, 3]
Printing list c:
[1, 2, 3, 2, 5]

Try if lists can be subtracted or multiplied!

Elements in a list can be accessed separately, each element has an associated index starting from 0

In [27]:
print(a[0])   # first element is numbered by 0, not 1!
print(a[2])   # third element of the list
print(a[-1])  # last element of the list
a[0] = 5
print(a)      # we have modified the first element

1
3
3
[5, 2, 3]

Write a code to access the 10th element of the list `a`:

IndexError: list index out of range

Can you use your python knowledge of lists and strings to find the 10th character in the sentence below?

`s = "This is a string with an exciting 10th character!"`

In [41]:
s = "This is a string with an exciting 10th character!"
print (s[12])

r

Below you can see some handy functions that can be perfomed on a list:

In [ ]:
# length of a list
print(len(a))
# sum of all list elements
sum(a)
print(sum(a))
# adding an element to the end of the list
a.append(10)
print(a)

Especially useful is the sort() function:

In [ ]:
v = [5, 3, 8, 1]
print("the list v is :")
print(v)
print("the list v after sorting is: ")
v.sort()
print(v)

# Try to print out the result of the function reverse() without converting to list. What type is it?
print("printing the reversed sorted list v:")
print(list(reversed(v)))

The elements in a list do not need to be all of the same type.

In [ ]:
good_list = ['Data Science', 485, True, 0.001]
print(good_list)

Lists can also contain more lists, exciting! Let's append a list at the end of a list:

In [ ]:
good_list.append(['another', 'list'])
print(good_list)
print(good_list[-1][0]) # picks the first element of the last element of good_list

How many elements does the list `[[0,1,2,3,4,5,6]]` have? Use the `len()` function to see if you were right.

In [42]:
len([[0,1,2,3,4,5,6]])

1

`range()` is a particularly useful iterator that can be converted into a list:

In [43]:
r = range(10)
print(r)

range(0, 10)

In the future you will see that the result of the `range()` function behaves just like a list would when combined with certain functions or in loops. If you want the result to really be a list, make sure to convert it!

In [44]:
r = list(r)    
print(r)
print(len(r), sum(r))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
10 45

The `range()` function can have a specified start, end and step size. The syntax is: range(first element, last element, step size)

If step size is not specified, the default value is one.

In [45]:
print(list(range(1,10,2)))
print(list(range(10,1)))
print(list(range(10,1,-1)))

[1, 3, 5, 7, 9]
[]
[10, 9, 8, 7, 6, 5, 4, 3, 2]

Create a list of all the multiples of three between 1000 and 2500:

In [46]:
print(list(range(1002,2500,3)))

[1002, 1005, 1008, 1011, 1014, 1017, 1020, 1023, 1026, 1029, 1032, 1035, 1038, 1041, 1044, 1047, 1050, 1053, 1056, 1059, 1062, 1065, 1068, 1071, 1074, 1077, 1080, 1083, 1086, 1089, 1092, 1095, 1098, 1101, 1104, 1107, 1110, 1113, 1116, 1119, 1122, 1125, 1128, 1131, 1134, 1137, 1140, 1143, 1146, 1149, 1152, 1155, 1158, 1161, 1164, 1167, 1170, 1173, 1176, 1179, 1182, 1185, 1188, 1191, 1194, 1197, 1200, 1203, 1206, 1209, 1212, 1215, 1218, 1221, 1224, 1227, 1230, 1233, 1236, 1239, 1242, 1245, 1248, 1251, 1254, 1257, 1260, 1263, 1266, 1269, 1272, 1275, 1278, 1281, 1284, 1287, 1290, 1293, 1296, 1299, 1302, 1305, 1308, 1311, 1314, 1317, 1320, 1323, 1326, 1329, 1332, 1335, 1338, 1341, 1344, 1347, 1350, 1353, 1356, 1359, 1362, 1365, 1368, 1371, 1374, 1377, 1380, 1383, 1386, 1389, 1392, 1395, 1398, 1401, 1404, 1407, 1410, 1413, 1416, 1419, 1422, 1425, 1428, 1431, 1434, 1437, 1440, 1443, 1446, 1449, 1452, 1455, 1458, 1461, 1464, 1467, 1470, 1473, 1476, 1479, 1482, 1485, 1488, 1491, 1494, 1497, 1500, 1503, 1506, 1509, 1512, 1515, 1518, 1521, 1524, 1527, 1530, 1533, 1536, 1539, 1542, 1545, 1548, 1551, 1554, 1557, 1560, 1563, 1566, 1569, 1572, 1575, 1578, 1581, 1584, 1587, 1590, 1593, 1596, 1599, 1602, 1605, 1608, 1611, 1614, 1617, 1620, 1623, 1626, 1629, 1632, 1635, 1638, 1641, 1644, 1647, 1650, 1653, 1656, 1659, 1662, 1665, 1668, 1671, 1674, 1677, 1680, 1683, 1686, 1689, 1692, 1695, 1698, 1701, 1704, 1707, 1710, 1713, 1716, 1719, 1722, 1725, 1728, 1731, 1734, 1737, 1740, 1743, 1746, 1749, 1752, 1755, 1758, 1761, 1764, 1767, 1770, 1773, 1776, 1779, 1782, 1785, 1788, 1791, 1794, 1797, 1800, 1803, 1806, 1809, 1812, 1815, 1818, 1821, 1824, 1827, 1830, 1833, 1836, 1839, 1842, 1845, 1848, 1851, 1854, 1857, 1860, 1863, 1866, 1869, 1872, 1875, 1878, 1881, 1884, 1887, 1890, 1893, 1896, 1899, 1902, 1905, 1908, 1911, 1914, 1917, 1920, 1923, 1926, 1929, 1932, 1935, 1938, 1941, 1944, 1947, 1950, 1953, 1956, 1959, 1962, 1965, 1968, 1971, 1974, 1977, 1980, 1983, 1986, 1989, 1992, 1995, 1998, 2001, 2004, 2007, 2010, 2013, 2016, 2019, 2022, 2025, 2028, 2031, 2034, 2037, 2040, 2043, 2046, 2049, 2052, 2055, 2058, 2061, 2064, 2067, 2070, 2073, 2076, 2079, 2082, 2085, 2088, 2091, 2094, 2097, 2100, 2103, 2106, 2109, 2112, 2115, 2118, 2121, 2124, 2127, 2130, 2133, 2136, 2139, 2142, 2145, 2148, 2151, 2154, 2157, 2160, 2163, 2166, 2169, 2172, 2175, 2178, 2181, 2184, 2187, 2190, 2193, 2196, 2199, 2202, 2205, 2208, 2211, 2214, 2217, 2220, 2223, 2226, 2229, 2232, 2235, 2238, 2241, 2244, 2247, 2250, 2253, 2256, 2259, 2262, 2265, 2268, 2271, 2274, 2277, 2280, 2283, 2286, 2289, 2292, 2295, 2298, 2301, 2304, 2307, 2310, 2313, 2316, 2319, 2322, 2325, 2328, 2331, 2334, 2337, 2340, 2343, 2346, 2349, 2352, 2355, 2358, 2361, 2364, 2367, 2370, 2373, 2376, 2379, 2382, 2385, 2388, 2391, 2394, 2397, 2400, 2403, 2406, 2409, 2412, 2415, 2418, 2421, 2424, 2427, 2430, 2433, 2436, 2439, 2442, 2445, 2448, 2451, 2454, 2457, 2460, 2463, 2466, 2469, 2472, 2475, 2478, 2481, 2484, 2487, 2490, 2493, 2496, 2499]

## Accessing elements

You have already seen how to access a single element in a list:

In [47]:
a = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5, 9]
print(a[0])
print(a[1])
print(a[-1])

3
1
9

In python, you can also access "sublists" of lists, the syntax is: list[ start : end : step ]

In [48]:
print(a[0:2])   # first two elements
print(a[:2])    # from the start to element two
print(a[7:])    # from element seven to the end
print(a[-2:])   
print(a[::2])   # every second element from the start to the end

[3, 1]
[3, 1]
[6, 5, 3, 5, 9]
[5, 9]
[3, 4, 5, 2, 5, 5]

Create a list containing 11 elements, print out the following sublists:
    - All elements between the 2nd and 5th element
    - Every second element of the list
    - Print out the whole list backwards
    - Exchange the order of the 4th and 5th element and the 8th and 9th element.

In [61]:
print(a[2:4])
print(a[1::2])

[3, 5]
[5, 5, 2, 5, 4, 3]
[3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5, 9]

## Logic

In Python it is often necessary to write down conditions which result in a boolean value (either `False` or `True`). It is important to learn how to evaluate such conditions using basic logic. Let's look at some logic operations first:

In [62]:
#or operator
print(True or False)
print(False or False)
print(True or True)

#and operator
print(False and False)
print(True and True)
print(True and False)

#not operator
print(not False)
print(not True)

True
False
True
False
True
False
True
False

This can be summarised into this table
![alt text](https://upload.wikimedia.org/wikipedia/commons/4/4a/Truth_table_for_AND%2C_OR%2C_and_NOT.png)

These logical operations can be incorporated in terms of mathematical operations, let's define a few variables:

In [63]:
a = 5 # an integer
b = 6 # another integer
c = [0,1,2,3,4,5] # a list

Now we can test a few logic operations on these variables, look at the cell below and try to guess the output! Write your guesses down before running the cell!

In [64]:
print(a == b) # a equal to b
print(a+a == b) # 2a equal to b
print(a != b) # a not equal to b
print(a > b) # a greater than b
print(a < b) # a lesser than b
print(a <= b) # a lesser or equal to b

False
False
True
False
True
True

There are a few more intuitive operations that will come handy later on:

In [65]:
print(a in c) #if a is in c?
print(b in c) #if b is in c?
print(a not in c) #if a is not in c?
print(b not in c) #if b is not in c?
print(a and b in c) #if both a and b is in c?
print(a or b in c) #if either a or b is in c?

print(2 is '2') #if integer 2 is string 2?
print("2" is '2') #double quote and single quotes are equivalent?
print(2 is not '2') #if integer 2 is not string 2?

True
False
False
True
False
5
False
True
True

Make sure you understand each of the above results, if you don't, ask one of the demonstrators.

## Conditional statements
Conditional statements are useful when we want to run some parts of the code only if some conditions are fulfilled. The syntax is:

`if [Condition]:
    [Code]`
    
If the `[Condition]` in the if statement has the value True, the `[Code]` will be executed, otherwise it will not.

In [66]:
# Lets start with a few simple conditional statements
if True:
    print("The condition after \"if\" is true!")

The condition after "if" is true!

In [67]:
if False:
    print("The condition after \"if\" is false :( !")

In [68]:
# It is possible to include a number of conditions! If neither is true, then the code in else will run.
a = 5
if a == 2:
    print("a is equal to two!")
elif a == 3 or a == 4:
    print("a is equal to three or four?")
else:
    print("a is not two, three or four!")

a is not two, three or four!

**IMPORTANT** Indentation is essential for Python.

Run the following block of code. How is it different?

In [69]:
a = 5
if a == 2:
print("a is equal to two!")
elif a == 3 or a == 4:
print("a is equal to three or four?")
else:
print("a is not two, three or four!")

IndentationError: expected an indented block (<ipython-input-69-d48cf9bdd455>, line 3)

As you can see, indentations have to be placed after every ' : '

Write a code that takes a list with n elements on its input, and returns the string `"Too long"` if the n > 10, `"Too short"` if n < 10, and `"Ideal"` if n = 10.

In [ ]:
#Code Here

## For loop

Loops are one of the most important structures you will learn today, they allow cerain parts of the code to be executed multiple times. In Python the `for` loop is used extensively. The syntax is: `for <variable> in <list of elements>:`

In [11]:
# one by one each element of the list is assigned to the variable i, then the code inside the for loop is executed
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [12]:
# The loop iterates over the list, sequentially assigning values to the variable i. The code within the loop prints the value.
for i in [4, 1, 5, 22, 5]:
    print(i)

4
1
5
22
5

In [71]:
# The loop iterates over the list, sequentially assigning values to the variable i. The code within the loop prints the value.
for i in [4, 1, 5, 22, 5]:
    print (i, i+10)

4 14
1 11
5 15
22 32
5 15

In [72]:
for i in "abc":   #it is also possible to iterate over strings
    print(i)

a
b
c

In [73]:
# sometimes it is useful to have two nested for loops, keep in mind the more nested loops the slower the code!
for i in [1,2,3]:
    for j in range(2,22,5):
        print(i, j)

1 2
1 7
1 12
1 17
2 2
2 7
2 12
2 17
3 2
3 7
3 12
3 17

Calculate the hundredth element of the Fibonacci sequence. $F_0=0$, $F_1 = 1$, $F_{i+2} = F_{i+1} + F_{i}$.

In [76]:
# # CODE HERE
# F_i = 0
# F_i1 = 1
# F_i2 = 1
# for i in range(100):
#     F_i2 = F_i1 + F_i
#     F_i1 = 
#     F_i =

## List comprehension

If you encounter an expression such as this:

`for item in list:
    if conditional:
        expression`
        
It can be briefly written in python as:

`[ expression for item in list if conditional ]`

In [78]:
# You can either use loops:
squares = []

for x in range(10):
    squares.append(x**2)
 
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [77]:
# Or you can use list comprehensions to get the same result:
squares = [x**2 for x in range(10)]

print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

Code a comprehension list that iterates over first 100 whole numbers and picks out the even ones:

In [82]:
print([2 * x for x in range(50)])

SyntaxError: invalid syntax (<ipython-input-82-7ae7ddffb942>, line 1)

Create a comprehension list that replaces every number <50 with True and >50 with False:

In [ ]:
# CODE HERE

## While loop

While loop is a classic loop with a set condition, while the condition is true, the cycle will repeat.

In [1]:
i = 0
while i < 10:
    print(i)
    i = i + 1

0
1
2
3
4
5
6
7
8
9

If the while condition is always true, the cycle will never stop.

## Functions

Functions are a basic building block of a programming language. In python, functions can return multiple variables at the output. (unlike C/C++ and Fortran). The syntax is:

`def [function name]( [inputs] ):
    [code within the function]
    return [output]`

In [2]:
def plus(a, b):
    return a + b

In [3]:
print(plus(1, 2))
print(plus(3.2, -1))

3
2.2

In [4]:
# functions can have default input values
def plus2(a, b=2):
    return a + b

print(plus2(7))
print(plus2(7,4))

9
11

Analyse the following function, what do you think it does? Use the function on a number of testcases to see if your guess is correct.

In [5]:
def random_func(a):
    something = 0
    
    for character in str(a):
        something += int(character)
        
    return something

In [6]:
random_func(123)

6

Combine your knowledge of comprehension lists and functions to write a function that finds all the even numbers between n and m:

In [32]:
import math
def evens(n, m):
    n = math.floor(n/2) + 1
    m = math.floor(m/2)
    return [2 * x for x in range (n, m)]
print(evens(1, 100))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

***
## [Problem]
A bank provides ISA with 5% interest per annum. If you deposit 50 pounds a month into the ISA over the period of one year, and the money deposited in the account is compounded at the end of every month, how much money will be in the account at the end of the year?

In [50]:
ir_annum = 0.05
ir_monthly = ir_annum / 12
months = 2000
account = 0
deposit = 50
for i in range(months):
    account += deposit
    account = account + account * ir_monthly
print(account)
print(deposit * months)
print(account - deposit * months)

49258654.65108081
100000
49158654.65108081

---
## [Problem]
Code a function that sums the digits in a number.

In [54]:
def sum_digits(n):
    r = 0
    while n:
        r, n = r + n % 10, n // 10
    return r
sum_digits(1434345)

24

---
## [Problem]
Find the sum of all integer multiples of 3 or 5 smaller than 10000.

In [ ]:
# how to find multiples with

---
## [Problem] [Adv]
Code a function that decides whether the input is a prime number or not.

Find the sum of the first 100 prime numbers.

In [93]:
def is_prime(n):
    if (n == 2):
        return True
    for i in range(2, math.ceil(math.sqrt(n)) +  1):
        if not (n % i):
            return False
    return True
is_prime(2)

True

In [103]:
n = []
i = 2
while (len(n) < 100):
    if (is_prime(i)):
        n.append(i)
    i += 1
print(n)
print()
print(len(n))
print("Sum = " + str(sum(n)))

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541]

100
Sum = 24133